{% extends "add_event.jinja" %}{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <table>
		<tr>
			<th>Event Date</th> 
			<th>Event Name</th> 
			<th>Guest Capacity</th> 
			<th>Event Location</th> 
			<th>Event Description</th> 
            <th>Recurring</th>
		</tr>
		
		{% for event in event_list  %}
			<tr>
				<td>{{ event.date }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.guest_capacity }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.description }}</td>
                <td> {% if event.event_recurring %}
                    <span> &#9989 </span>
                    {% endif %}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>
{% endblock %}